

.encabezado{
  max-height: 100px;
}
.ttitle{
  font-size: 34px;
}

.dPropiedad{
  width: auto;
  max-width: 800px;
}
.Moneda{
  font-size: 34px;
  margin: 0%;
  margin-top: 15%;
  margin-bottom: 40px;
  padding-bottom: -20px;

}

.icono{
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 10px;
}




.DetallePropiedadImagen {

  width: 450px;
  height: 450px;
}