.selects {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  gap: 5px;
}

.filtros {
  margin: 5px;
  gap: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
}
